<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>lastLaunchVersion</key>
	<string>2.5.2</string>
	<key>lunchAtStartup</key>
	<integer>1</integer>
	<key>mappings</key>
	<array>
		<dict>
			<key>enable</key>
			<true/>
			<key>input</key>
			<dict>
				<key>flags</key>
				<integer>0</integer>
				<key>keyCode</key>
				<integer>55</integer>
			</dict>
			<key>output</key>
			<dict>
				<key>flags</key>
				<integer>0</integer>
				<key>keyCode</key>
				<integer>102</integer>
			</dict>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>input</key>
			<dict>
				<key>flags</key>
				<integer>0</integer>
				<key>keyCode</key>
				<integer>54</integer>
			</dict>
			<key>output</key>
			<dict>
				<key>flags</key>
				<integer>0</integer>
				<key>keyCode</key>
				<integer>104</integer>
			</dict>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>input</key>
			<dict>
				<key>flags</key>
				<integer>256</integer>
				<key>keyCode</key>
				<integer>41</integer>
			</dict>
			<key>output</key>
			<dict>
				<key>flags</key>
				<integer>131330</integer>
				<key>keyCode</key>
				<integer>41</integer>
			</dict>
		</dict>
		<dict>
			<key>enable</key>
			<true/>
			<key>input</key>
			<dict>
				<key>flags</key>
				<integer>131330</integer>
				<key>keyCode</key>
				<integer>41</integer>
			</dict>
			<key>output</key>
			<dict>
				<key>flags</key>
				<integer>256</integer>
				<key>keyCode</key>
				<integer>41</integer>
			</dict>
		</dict>
		<dict>
			<key>enable</key>
			<false/>
			<key>input</key>
			<dict>
				<key>flags</key>
				<integer>0</integer>
				<key>keyCode</key>
				<integer>102</integer>
			</dict>
			<key>output</key>
			<dict>
				<key>flags</key>
				<integer>0</integer>
				<key>keyCode</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
